# Web framework
Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Cors

# Server
gunicorn

# OCR
pytesseract
Pillow

# Speech
gTTS
langdetect

# LangChain (LET PIP RESOLVE CORE)
langchain==0.1.12
langchain-community==0.0.29
langchain-ollama

# Utilities
requests
